<div class="container">
    <div class="row justify-content-center">
        <div class="mb-4" style="text-align: center;">
            <span *ngIf="!hasCommunities()">
                You still isn't a member of a community, search for a community that you like<br>
                <a href="/newforums">Go discovery a forum suits you</a> 😉
            </span>
            <h2 *ngIf="hasCommunities()">
                Your forums
            </h2>
        </div>
        
        <div class="col-8" *ngFor="let forum of forums; let i = index">
            <app-forum-info [forum]="forum" [isMyForumsPage]="true" />
        </div>
    </div>
</div>