<nav class="navbar fixed-top bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="\">Coddit</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-house fa-sm"></i> Feed
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/newforums">
                            <i class="fa-solid fa-user-group fa-sm"></i> Discover new forums
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/myforums">
                            <i class="fa-solid fa-user-group fa-sm"></i> My Forums
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/account">
                            <i class="fa-solid fa-gear  fa-sm"></i> Account
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/signin" *ngIf="!IsLogged">
                            <i class="fa-solid fa-right-to-bracket  fa-sm"></i> Login
                        </a>
                        <button class="nav-link" *ngIf="IsLogged" (click)="LogOut()">
                            <i class="fa-solid fa-right-from-bracket  fa-sm"></i> Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>